body {
  background-color: beige;
  text-align: center;
}

.App {
  width: 100%-40px;
  padding: 20px;
}

.clock {
  font-size: 25pt;
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
}

h2 {
  color: saddlebrown;
}
